@model ViewModel.BoardView
@(Layout = null)
<!-- «Start| BoardView» -->
<div data-module="BoardView" class="gridster-holder">
   @Html.StartupActionsJson()
   <div data-module='BoardView'>
      @*<input type="text" class="border-view" placeholder="Filter..." id="HubInstantSearch" name="HubInstantSearch" value="">*@
         @Html.StartupActionsJson()
      </div>
   </div>
<!-- «End| BoardView» -->

