<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="Geeks Microservice Apis" value="https://nuget.app.geeks.ltd/v3/index.json" protocolVersion="3"/>
	<add key="Geeks Microservice Apis" value="http://nuget.geeksms.uat.co/nuget" />
  </packageSources>
</configuration>