@model ViewModel.SideBarRightModule
@(Layout = null)

<!-- «Start| SideBarRightModule» -->
<div data-module="SideBarRightModule" class="task-bar d-none d-lg-flex p-0">
   @Html.StartupActionsJson()
   @(await Component.InvokeAsync
   <TimesSheetModule>
      ()) @(await Component.InvokeAsync
      <TaskFrameModule>
         ())
      </div>
<!-- «End| SideBarRightModule» -->

