@model ViewModel.SideBarIconsModule
@(Layout = null)

<!-- «Start| SideBarIconsModule» -->
<div data-module="SideBarIconsModule" class="side-bar-icons-module">
    @Html.StartupActionsJson()
    <div></div>
    <div>
        <a href="https://auditlog.app.geeks.ltd/improvement" target="$modal" class="side-bar-improvement no-print" title="Request a system improvement">
            <i class="fas fa-comment-medical" title="Request a system improvement"></i>             
        </a>
    </div>
    <div></div>
</div>
<!-- «End| SideBarIconsModule» -->
