@model ViewModel.SideBarIconsModule
@(Layout = null)

@inject Olive.Microservices.Hub.Domain.Theme.Contracts.IThemeProvider ThemeProvider
@(Layout = null)
@{
    var themeRoot = await ThemeProvider.GetRootPath(true);
}

<!-- «Start| SideBarIconsModule» -->
<div data-module="SideBarIconsModule" class="side-bar-icons-module">
    @Html.StartupActionsJson()
    <div>
        <a href="https://hub.app.geeks.ltd/dashboard/user/recognise.aspx" class="side-bar-recognise no-print" data-redirect="ajax" title="Recognise">
            <img src="@themeRoot/img/side_bar_icons/recognise.png" alt="Recognise" />
        </a>
    </div>
    <div>
        <a href="https://auditlog.app.geeks.ltd/improvement?Type=878c8519-c66b-4b81-a586-7885adeedfd4" target="$modal" class="side-bar-improvement no-print" title="Bug">
            <img src="@themeRoot/img/side_bar_icons/bug.png" alt="Bug" />
        </a>
    </div>
    <div>
        <a href="https://auditlog.app.geeks.ltd/improvement?Type=f313f299-6e6a-4464-bd64-f9fcb5b4ac3e" target="$modal" class="side-bar-recognise no-print" title="Suggestion">
            <img src="@themeRoot/img/side_bar_icons/improvement.png" alt="Suggestion" />
        </a>
    </div>
    <div>
        <a href="#" class="side-bar-notification no-print" data-badgeurl="https://clientnotifications.app.geeks.ltd/api/Notification/Count" data-badge="0" title="Notifications">
            <img src="@themeRoot/img/side_bar_icons/notification.png" alt="Notifications" />
        </a>
    </div>
</div>
<!-- «End| SideBarIconsModule» -->
