@model ViewModel.EverythingPage_Everything
<!-- «Start| EverythingPage_Everything» -->
<form data-module="EverythingPage_Everything" method="post" action="@Url.Current()">
    @Html.AntiForgeryToken()
    @Html.StartupActionsJson()
    <h2>What are you looking for?</h2>
    <div class="search d-none d-lg-block">
        <div class="form-group row">
            <div class="group-control">
                <input type="text" asp-for="InstantSearch" class="form-control" placeholder="Search..." />
            </div>
        </div>
    </div>
    <div class="grid-wrapper full-menu-container">
        @info.Markup.Raw()
    </div>
</form>
<!-- «End| EverythingPage_Everything» -->
