@model ViewModel.FeatureView
@{  Olive.Microservices.Hub.Feature item = Model.Item; }
<!-- «Start| FeatureView» -->
<form data-module="FeatureView" method="post" action="@Url.Current()" class="feature-frame-view">
   @Html.AntiForgeryToken()
   @Html.StartupActionsJson()
    <div class="view-body">
        @if (ViewBag.PageSource != null)
        {
        <div>
            @Html.Raw(ViewBag.PageSource)
        </div>
        }
    </div>
</form>
<!-- «End| FeatureView» -->
